@model IList<TourNhanh.Models.AppUser>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // var listCustomers = (List<users>)ViewData["listCustomers"];
    var listCustomers = ViewBag.Users;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="table-responsive table-desi">
                        <table class="user-table vendor-table table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listCustomers)
                                {
                                    @if (item != null)
                                    {
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0)">
                                                    <span class="d-block ">@item.FullName</span>
                                                    @*<span>Essex Court</span>*@
                                                </a>
                                            </td>
                                            <td>@item.Address</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <a href="@Url.Action("Detail", "Customers", new { Id = item.Id })" title="Xem chi tiết">
                                                            <span class="lnr lnr-eye"></span>
                                                        </a>
                                                    </li>
                                                    @* <li>
                                                        <a href="@Url.Action("Detail", "Customers", new { Id = item.Id })" title="Xóa">
                                                        <span class="lnr lnr-trash"></span>
                                                        </a>
                                                    </li> *@
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>