@model TourNhanh.Models.Booking

@{
    decimal Total = 0;
    var userInfo = ViewBag.Info;
}
<style>
    .section {
        padding: 50px 0 100px;
    }

    .product-details {
        width: 85%;
        margin-left: 40px;
        padding: 15px 30px;
        border-radius: 10px;
        box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
    }

       /*  .tour-info i, .product-details i {
            color: #8dc63f;
        }

    .tour-info {
        display: grid;
        width: 410px;
        margin-top: 20px;
        margin-left: 10px;
        color: #000;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
        grid-template-columns: repeat(2, 1fr);
        font-size: 15px;
    } */
    .title-gradient-h {
        font-size: 26px;
        text-transform: uppercase;
        background-color: #de0004;
        background-image: linear-gradient(90deg, #f00 0%, #122125 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }

   
    .btn-action-checkout {
        min-width: 90px;
        text-align: center;
        display: inline-block;
        background: #fff;
        text-transform: uppercase;
        color: #ff0000;
        border: 3px solid red;
        padding: 8px 30px;
        /*  margin: 5px 0; */
        border-radius: 30px;
        transition: background 0.5s;
        font-weight: 700;
    }

        .btn-action-checkout:hover {
            color: white;
            border: 3px solid #e90000;
            background-image: linear-gradient(160deg, #e90000 0%, #d08080 100%);
            transition: ease 0.7s;
        }
        .form-label.tag {
            color: #494343;
            font-weight: 600;
        }
      /*   label.title {
            background-color: var(--bs-linear-color);
            backgroung-image: var(--bs-linear-img);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 16px;
        } */

   /*  .form-group {
        margin-top: 35px
    }

        .form-group:first-child {
            margin-top: 0px;
        }

    .col-md-7 {
        margin-top: -7px;
    } */
</style>
<!-- BREADCRUMB START-->

<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            Booking Tour
        </h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="~/Booking/YourTour">Your Tour</a></li>
            <li class="breadcrumb-item active text-white">Thanh toán</li>
        </ol>
    </div>
</div>

<!-- /BREADCRUMB END -->
<!--Content Processing Payment-->
<section class="section processing-payment">
    <div class="container">
         <form asp-controller="Booking" asp-action="ProcessPaymentConfirmed" asp-route-bookingId="@Model.Id" method="post">
            <div class="billing-details">
                <h2 class="title-gradient text-center">Kiểm tra thông tin</h2>
            </div>
             <div class="row " style="margin-top: 50px" >
                    <div class="col-md-7">                    
                         <div class="info">
                            <div class="mb-4">
                                <label for="" class="form-label tag">Mã hóa đơn của bạn</label>
                                <input type="text"
                                       class="form-control title"
                                       name=""
                                       value="@Model.Id" 
                                       id=""
                                       aria-describedby="helpId"
                                       placeholder="" />
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label tag">Họ Tên Khách Hàng</label>
                                <input type="text"
                                       class="form-control"
                                       name=""
                                       value="@ViewBag.FullName"
                                       id=""
                                       aria-describedby="helpId"
                                       placeholder="" />
                            </div>

                            <div class="mb-4">
                                <label for="" class="form-label tag">Email</label>
                                <input type="text"
                                       class="form-control"
                                       name=""
                                       value="@ViewBag.Email"
                                       id=""
                                       aria-describedby="helpId"
                                       placeholder="" />
                            </div>
                            <div class="mb-4">
                                <label for="" class="form-label tag">Số điện thoại</label>
                                <input type="text"
                                       class="form-control"
                                       name=""
                                       value="@ViewBag.Phone"
                                       id=""
                                       aria-describedby="helpId"
                                       placeholder="" />
                            </div>
                            <!--BUTTON THANH TOAN-->
                            <div style="margin-top: 40px;">
                                <div>
                                  <button type="submit" name="payment" class="btn-action" value="online">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                        Tiếp tục với VNPay
                                    </button>
                                </div>
                            </div>
                          <!--BUTTON THANH TOAN-->
                        </div>
                    </div>
                <!-- CHeck info end -->
                <!-- Order Details -->

                <div class="col-md-5 ">
                    <div class="product-details">
                        <div class="heading">
                            <h3 class="title-gradient-h fs-2 text-center mb-4">Thông tin tour</h3>
                        </div>
                        <div class="tour-summery">
                            <div class="tour-col">
                                <div class="tour-content">
                                    <h5>Tour:</h5>
                                    <p>@Model.Tour.Name</p>
                                </div>
                            </div>
                            <div class="tour-col">
                                <div class="tour-content">
                                    <h5>Số lượng:</h5>
                                    <p>@Model.Quantity</p>
                                </div>
                            </div>
                            <div class="tour-col">
                                <div class="tour-content">
                                    <h5>Ngày đặt:</h5>
                                    <p>@Model.BookingDate</p>
                                </div>
                            </div>
                            <div class="tour-col">
                                <div class="tour-content">
                                    <h5>Ghi chú:</h5>
                                    <p>@Model.Note</p>
                                </div>
                            </div>

                            <div class="tour-col">
                                <div class="tour-content">
                                    <h5>Tổng giá:</h5>
                                    <p>@Model.Amount</p>
                                </div>
                            </div>
                           
                            <div class="tour-col">
                                <div><strong>VOUCHER</strong></div>
                                <input style="margin-left: 5px" type="text" class="form-control input" placeholder="Voucher giảm giá">
                                <div class="input-group-append">
                                    <button type="reset" class="btn-action-checkout">Áp dụng</button>
                                </div>
                            </div>
                        </div>
                        <div class="payment-method">

                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-1" />
                                <label for="payment-1">
                                    <span></span>
                                    Chú ý
                                </label>
                                <div class="caption">
                                    <p>
                                        Vui lòng kiểm tra kĩ trước khi nhấn nút thanh toán Nhớ review
                                        cho chúng tôi biết về sự hài lòng của bạn! Cám ơn!
                                    </p>
                                </div>
                            </div>
                            <div class="input-radio">
                                <input type="radio" name="payment" id="payment-2" />
                                <label for="payment-2">
                                    <span></span>
                                    Thông tin và điều khoản
                                </label>
                                <div class="caption">
                                    <p>
                                        Chính sách của chúng tôi đã được ghi rõ trong lịch trình tour
                                        vui lòng xem thêm chi tiết ở đây:
                                        <a href="#!"><strong> Chính sách qui định của chúng tôi </strong></a>
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                      @*   <div style="display: flex; align-items: flex-end; justify-content: space-between">

                            <input type="submit" name="payment" class="primary-btn order-submit" value="đặt hàng cod" />
                            <input type="submit" name="payment" class="primary-btn order-submit" value="thanh toán vnpay" />
                         
                        </div> *@
                        @* <div class="tour_detail">
                            <div class="tour-info">
                                <p><i class="fas fa-check"></i> Bảo hiểm</p>
                                <p><i class="fas fa-check"></i> Bữa sáng</p>
                                <p><i class="fas fa-check"></i> Hướng dẫn viên</p>
                                <p><i class="fas fa-check"></i> Khách sạn 3 sao</p>
                                <p><i class="fas fa-check"></i> Vé tham quan</p>
                                <p><i class="fas fa-check"></i> Vé máy bay</p>
                                <p><i class="fas fa-check"></i> Xe đưa đón</p>

                            </div>
                        </div> *@
                    </div>
                 </div>
                <!-- /Order Details -->
                </div>   
                <!--Row-->
         </form>
    </div>
</section>