@model IEnumerable<TourNhanh.Models.Booking>

@{
    ViewData["Title"] = "YourTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<style>
    .section {
        padding: 50px 0 100px;
    }

   
    tbody tr .details a:hover {
        color: #e22454;
    }

    tbody tr .details a{
        position: relative;
       

    }

        tbody tr .details a:visited {
            color: #2b2b2b;
        }

    tbody tr .details a::before {
        padding-top: 3px;
        content: "Xem nhanh";
        font-size: 12px;
        position: absolute;
        top: -24px;
        left: -43px;
        color: #e22454;
        border-top: 2px solid red;       
        background: #fff;
        box-shadow: 0 0 32px rgba(0, 0, 0, .2);
        width: 100px;
        height: 25px;
        visibility: hidden;
        transition: all .4s;
    }

        tbody tr .details a:hover::before {
            visibility: visible;
        }
    
  
</style>


<!-- BREADCRUMB START-->

<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            Booking Tour
        </h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="~/Booking/YourTour">Your Tour</a></li>
            <li class="breadcrumb-item active text-white">Danh sách</li>
        </ol>
    </div>
</div>

<!-- /BREADCRUMB END -->

<section class="section your-tour">
    <div class="container-fluid">
        <div class="heading py-2">
            <h2 class="title-gradient text-center">Các tour đã đặt</h2>
        </div>
        <div class="content-your-tour" >
             <table class="table table-tour">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                         <th>
                                   Khách hàng
                        </th>
                         <th>
                                  Tour
                        </th>
                   
                        <th>
                                   Số lượng
                        </th>
                 
                          <th>
                                   Ngày đặt
                        </th>
                        <th>
                                   Ghi chú
                        </th>
                        <th>
                                   Giá tiền
                        </th>
                        <th>
                                    Ngày thanh toán
                        </th>
                        <th>
                                   Phương thức
                        </th>
                        <th>
                                  Trạng thái
                        </th>
                        <th> 
                                 Hành động
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                       
                    {
                        var trangthai = "Chưa thanh toán";
                        if(item.isPaymentCompleted==true)
                        { trangthai = "Đã thanh toán"; }
                        var method = "Trực tiếp";
                        if(item.PaymentMethod=="online"){ method = "VNPay"; }
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @ViewBag.FullName
                             </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.Tour.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                 @Html.DisplayFor(modelItem => item.BookingDate)
                            </td>
                      
                                         
                            <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                            </td>
                            <td>
                                       @method
                            </td>
                            <td style="color: #e22454;">
                                      @trangthai
                            </td>
                            <td class="details">
                                <a asp-action="Details" asp-route-bookingId="@item.Id"><i class="fa-solid fa-eye"></i></a>
@*                                 <a asp-action="Delete" asp-route-bookingId="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
 *@                            </td>

                        </tr>
                            }
                </tbody>
            </table>
        </div>
    </div>
</section>






