@model TourNhanh.Models.Tour
@using Microsoft.AspNetCore.Identity;
@using System.Linq;
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Details";
	
    Layout = "~/Views/Shared/_Layout.cshtml";
	int numOfQuanity = 1;
}
@{
	var currentUserFullName = ViewBag.CurrentUserFullName;
	var currentUserEmail = ViewBag.CurrentUserEmail;
}


@{
	int countRating1 = Model.Reviews.Count(v => v.Rating == 1);
	int countRating2 = Model.Reviews.Count(v => v.Rating == 2);
	int countRating3 = Model.Reviews.Count(v => v.Rating == 3);
	int countRating4 = Model.Reviews.Count(v => v.Rating == 4);
	int countRating5 = Model.Reviews.Count(v => v.Rating == 5);
	int totalCount = countRating1 + countRating2 + countRating3 + countRating4 + countRating5;
	// Tính trung bình cộng
	float average = (countRating1 * 1 + countRating2 * 2 + countRating3 * 3 + countRating4 * 4 + countRating5 * 5) / (float)totalCount;
	float percentageRating1 = (float)countRating1 / totalCount * 100;
	float percentageRating2 = (float)countRating2 / totalCount * 100;
	float percentageRating3 = (float)countRating3 / totalCount * 100;
	float percentageRating4 = (float)countRating4 / totalCount * 100;
	float percentageRating5 = (float)countRating5 / totalCount * 100;
}
<style>
	.half-star {
		color: #007bff; /* Màu xanh của bạn ở đây */
	}
	/* Định dạng ngôi sao */
	.review-rating .fa-star {
		color: #007bff; /* Màu xanh dương */
	}

	/* Định dạng khung cuộn */
	#reviews-container {
		max-height: 250px; /* Đặt chiều cao tối đa cho danh sách đánh giá */
		overflow-y: auto; /* Thêm thanh cuộn khi danh sách dài hơn */
	}

	/* Định dạng danh sách đánh giá */
	#reviews {
		list-style-type: none; /* Loại bỏ dấu đầu dòng của danh sách */
		padding: 0; /* Loại bỏ lề trong danh sách */
		margin: 0; /* Loại bỏ khoảng trống xung quanh danh sách */
	}
	.tour-info i {
		color: #8dc63f;
	}


	.tour-info {
		margin-left: 10px;
		width: 407px;
		display: grid;
		margin-top: 20px;
		color: #000;
		padding: 15px 20px;
		border-radius: 10px;
		box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
		grid-template-columns: repeat(2, 1fr);
		font-size: 15px;
	}

	.product-details {
		width: 100%;
		margin-left: 10px;
		padding: 15px 20px;
		border-radius: 10px;
		box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
	}

		.product-details .product-links li, .product-details .product-options label, product-details label {
			font-weight: 600;
		}

		.product-details .product-options .input-select {
			width: 150px;
		}

		.product-details .product-price {
			margin-bottom: 0;
		}

		.product-details .product-available{
			margin-left: 10px;
		}

	
	
	#reviews .date {
		font-size: 14px;
	}
 </style>
<!-- BREADCRUMB -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
	<div class="container text-center py-5" style="max-width: 900px;">
		<h3 class="text-white display-3 mb-4">
			Thông tin tour
		</h3>
		<ol class="breadcrumb justify-content-center mb-0">
			<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>		
			<li class="breadcrumb-item"><a href="~/Tour/Index/@Model.Id">Tour trong nước</a></li>
			<li class="breadcrumb-item active text-white">@Model.Name</li>
		</ol>
	</div>
</div>
<!-- Header End -->
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div style="padding: 100px 0 100px">
	<!-- container -->
	<div class="container">
		<h2 class="title-gradient">
			Tour @Model.Name
		</h2>
		<!-- row -->
		<div class="row ">
			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5 wow animate__animated animate__fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
				<div id="product-imgs">
					@if (ViewBag.TourImages != null)
					{
						<div class="product-preview">
							<img src="@Model.MainImageUrl" alt="">
						</div>
						foreach (var image in ViewBag.TourImages)
						{
							<img class="product-preview" src="@image" />
						}
					}
				</div>
			</div>
			<!-- /Product thumb imgs -->
			<!-- Product main img -->
			<div class="col-md-6 col-md-push-3 wow animate__animated animate__fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".6s">
				<div id="product-main-img">


					@if (ViewBag.TourImages != null)
					{
						<div class="product-preview">
							<img src="@Html.DisplayFor(model => model.MainImageUrl)" alt="">
						</div>
						foreach (var image in ViewBag.TourImages)
						{
							<img class=" product-preview" src="@image" />
						}
					}
				
				</div>
			</div>
			<!-- /Product main img -->
			
		
		
			<!-- Product details -->
			<div class="col-md-4 wow animate__animated animate__fadeInTopLeft" data-wow-duration="2s" data-wow-delay=".4s">
				<div class="product-details">
					<h2 class="product-name">@Html.DisplayFor(model => model.Name)</h2>
					<div>
						<div class="rating-stars">
							@for (var i = 0; i < 5; i++)
							{
								// Nếu i nhỏ hơn phần nguyên của số trung bình, hiển thị một sao đầy
								if (i < Math.Floor(average))
								{
									<i class="fa fa-star" style="color: #007bff;"></i>
								}
								// Nếu i bằng phần nguyên của số trung bình và phần thập phân lớn hơn hoặc bằng 0.5, hiển thị một nửa sao
								else if (i == Math.Floor(average) && average - Math.Floor(average) >= 0.5)
								{
									<i class="fa fa-star-half half-star" style="color: #007bff;"></i>
								}
								// Nếu không, hiển thị một sao rỗng
								else
								{
									<i class="fa fa-star-o empty"></i>
								}
							}
						</div>
						<a class="review-link" href="#">@Model.Reviews.Count() lượt đánh giá</a>
					</div>
					<div>
						<h3 class="product-price animate__animated animate__flash animate__infinite">@Html.DisplayFor(model => model.Price) VNĐ <del class="product-old-price">999999VNĐ</del></h3>
						
					</div>
					<h3><span class="product-available"><i class="fa-solid fa-hand-point-right fa-beat"></i> Đặt tour ngay <i class="fa-solid fa-hand-point-left fa-beat"></i></span></h3>
					<label>Phương tiện di chuyển: @Html.DisplayFor(model => model.Transport.Name) </label>
					
					@* <div class="product-options d-flex justify-content-flex-start align-items-center">
						<label>
							người lớn: 
							<select class="input-select">							
								<option value="0">2 </option>
								<option value="1">3 </option>
								<option value="2">4 </option>
								<option value="3">5 </option>
								<option value="4">6 </option>
							</select>
							
						</label>
						
						<label>
							Trẻ em: 
							<select class="input-select">
								<option value="0">0 </option>
								<option value="1">1 </option>
								<option value="2">2 </option>
								<option value="3">3 </option>							
							</select>
							
						</label>
						
					</div> *@

					<div class="add-to-cart">
						@* <div class="qty-label" >
							Qty
							<div class="input-number">								
								<input type="number" value="1">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div> *@
						@* <button class="add-to-cart-btn"><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id>" asp-route-quantity="@numOfQuanity"><i class="fa fa-shopping-cart"></i> add to cart</a></button> *@
						<div class="add-to-cart">
							@* <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="@numOfQuanity">
								<button class="add-to-cart-btn">
									<i class="fa fa-shopping-cart"></i> add to cart
								</button>
							</a> *@

							@{
								if(Model.RemainingSlots == 0)
								{
										<a class="add-to-cart-btn new"><i class="fa fa-eye"></i>Hết chỗ</a>
								}
								else
								{
										<a class="add-to-cart-btn new" asp-controller="Booking" asp-action="Create" asp-route-tourId="@Model.Id">
											<i class="fa fa-shopping-cart"></i>
											đặt tour
										</a>
								}
							}
							
							@* <a asp-action="Update" asp-route-id="@Model.Id" class="btn-action">Edit</a> | *@
							 <a class="add-to-cart-btn new" asp-controller="TourDetail" asp-action="Index" asp-route-tourId="@Model.Id"><i class="fa fa-eye"></i>Xem lịch trình</a>
							 <br />
							@* <a asp-action="Index" class="btn-action"><i class="fa-solid fa-arrow-left"></i>Trở về</a> *@
						</div>
						
						
					</div>

					<ul class="product-btns">
						<li><a href="#"><i class="fa-regular fa-heart"></i> add to wishlist</a></li>
						<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
					</ul>

					<ul class="product-links">
						<li>Lịch trình:</li>
						<li><a href="#"> @Html.DisplayFor(model => model.Category.Name)</a></li> | 
						@* <li><a href="#">Accessories</a></li> *@
						<li>Điểm khởi hành:</li>
						<li><a href="#"> tại TPHCM</a></li>
						
					</ul>

					@* <ul class="product-links"> 
						<li>Điểm đến: @view.Location.Name </li>
					</ul> *@

					<ul class="product-links">
						<li>Chia sẻ:</li>
						<li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
					</ul>
			
				</div>
				<div class="tour_detail">
					<div class="tour-info">
						<p><i class="fas fa-check"></i> Bảo hiểm</p>
						<p><i class="fas fa-check"></i> Bữa sáng</p>
						<p><i class="fas fa-check"></i> Hướng dẫn viên</p>
						<p><i class="fas fa-check"></i> Khách sạn 3 sao</p>
						<p><i class="fas fa-check"></i> Vé tham quan</p>
						<p><i class="fas fa-check"></i> Vé máy bay</p>
						<p><i class="fas fa-check"></i> Xe đưa đón</p>
				
					</div>
				</div>
			</div>
			<!-- /Product details -->
			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					@* <ul class="tab-nav">
						<li class="active"><a data-toggle="tab" role="tab" href="#tab1">Description</a></li>
						<li><a data-toggle="tab" role="tab" href="#tab2">Details</a></li>
						<li><a data-toggle="tab" role="tab" href="#tab3">Reviews (3)</a></li>
					</ul> *@
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link1 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1" role="tab" aria-controls="home" aria-selected="true">Điểm nhấn hành trình</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link1" id="profile-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="profile" aria-selected="false"><a style="font-weight:700" asp-controller="TourDetail" asp-action="Index" asp-route-tourId="@Model.Id">Lịch trình</a></button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link1" id="contact-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="contact" aria-selected="false">Đánh giá</button>
						</li>
					</ul>
					<!-- /product tab nav -->
					<!-- product tab content -->
					<div class="tab-content" id="nav-tabContent">
						<!-- tab1  -->
						<div id="tab1" class="tab-pane fade show active">
							<div class="row">
								<div class="col-md-12">
									<p>@Model.Description.</p>
								</div>
							</div>
						</div>
						<!-- /tab1  -->
						<!-- tab2  -->
						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<div class="col-md-12">
									<p> <h1>Chưa biết chổ nào</h1>  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<!-- /tab2  -->
						<!-- tab3  -->
						
						<div id="tab3" class="tab-pane fade in">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>@average.ToString("0.0")</span>
											<div class="rating-stars">
												@for (var i = 0; i < 5; i++)
												{
													// Nếu i nhỏ hơn phần nguyên của số trung bình, hiển thị một sao đầy
													if (i < Math.Floor(average))
													{
														<i class="fa fa-star"></i>
													}
													// Nếu i bằng phần nguyên của số trung bình và phần thập phân lớn hơn hoặc bằng 0.5, hiển thị một nửa sao
													else if (i == Math.Floor(average) && average - Math.Floor(average) >= 0.5)
													{
														<i class="fa fa-star-half half-star" style="color: #007bff;"></i>
													}
													// Nếu không, hiển thị một sao rỗng
													else
													{
														<i class="fa fa-star-o empty"></i>
													}
												}
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: @percentageRating5.ToString("0")%;"></div>
												</div>
												<span class="sum">@countRating5</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: @percentageRating4.ToString("0")%;"></div>
												</div>
												<span class="sum">@countRating4</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: @percentageRating3.ToString("0")%;"></div>
												</div>
												<span class="sum">@countRating3</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: @percentageRating2.ToString("0")%;"></div>
												</div>
												<span class="sum">@countRating2</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: @percentageRating1.ToString("0")%;"></div>
												</div>
												<span class="sum">@countRating1</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->
								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<div id="reviews-container">
											<ul id="reviews">
												@if (Model.Reviews != null && Model.Reviews.Any())
												{
													for(int i = Model.Reviews.Count-1; i >= 0; i--)
													{
														<li>
															<div class="review-heading">
																<h5 class="name fw-bolder">@Model.Reviews[i].Author</h5>

																<div class="review-rating">
																	@for (var j = 0; j < 5; j++)
																	{
																		if (j < @Model.Reviews[i].Rating)
																		{
																			<i class="fa fa-star"></i>
																		}
																		else
																		{
																			<i class="fa fa-star-o empty"></i>
																		}
																	}
																</div>
															</div>
															<div class="review-body">
																<p>@Model.Reviews[i].Content</p>
															</div>
															<p class="date">@Model.Reviews[i].CreatedAt</p>
														</li>
													}
													@* @foreach (var item in Model.Reviews)
													{
														<li>
															<div class="review-heading">
																<h5 class="name fw-bolder">@item.Author</h5>
																
																<div class="review-rating">
																	@for (var i = 0; i < 5; i++)
																	{
																		if (i < item.Rating)
																		{
																			<i class="fa fa-star"></i>
																		}
																		else
																		{
																			<i class="fa fa-star-o empty"></i>
																		}
																	}
																</div>
															</div>
															<div class="review-body">
																<p>@item.Content</p>
															</div>
															<p class="date">@item.CreatedAt</p>
														</li>
													} *@
												}
											</ul>
										</div>
										<ul class="reviews-pagination">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->
								<!-- Review Form <div class="col-md-3">
									<div id="review-form">
										<form class="review-form" id="reviewForm" method="post">
											<input class="input" type="text" placeholder="Your Name">
											<input class="input" type="email" placeholder="Your Email">
											<textarea class="input" id="review-content" name="content" placeholder="Đánh giá của bạn"></textarea>
											<div class="input-rating">
												<span>Mức độ: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Đăng</button>
										</form>
									</div>
								</div>-->
								
								<!-- /Review Form -->
								<div class="col-md-3">
									<div id="review-form">
										<form class="review-form" id="reviewForm" method="post">
											<input class="input" type="text" id="name" placeholder=" @currentUserFullName" readonly>
											<input class="input" type="email" id="email" placeholder="@currentUserEmail" readonly>
											<textarea class="input" id="review-content" name="content" placeholder="Đánh giá của bạn"></textarea>
											<div class="input-rating">
												<span>Mức độ: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
												</div>
											</div>
											<button type="button" class="primary-btn" id="submit-review">Đăng</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /tab3  -->
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>
		<!-- /row -->
		
	</div>
	<!-- /container -->
	<!-- if gom all in one show -->
	<div id="button-contact-vr" class="">
		<div id="gom-all-in-one">
			<!-- v3 -->
			<!-- contact -->
			<!-- end contact -->
			<!-- viber -->
			<!-- end viber -->
			<!-- zalo -->
			<div id="zalo-vr" class="button-contact">
				<div class="phone-vr">
					<div class="phone-vr-circle-fill"></div>
					<div class="phone-vr-img-circle">
						<a target="_blank" href="https://zalo.me/0931034852">
							<img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/zalo.png" />
						</a>
					</div>
					<div class="zalo-bar zalo-bar-n" >
						<a href="https://zalo.me/0931034852">
							<span class="text-phone">Liên hệ ngay để được tư vấn</span>
						</a>
					</div>
				</div>
			</div>
			<!-- end zalo -->
			<!-- Phone -->
			<div id="phone-vr" class="button-contact">
				<div class="phone-vr">
					<div class="phone-vr-circle-fill"></div>
					<div class="phone-vr-img-circle">
						<a href="tel:0931034852">
							<img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/phone.png" />
						</a>
					</div>
					<div class="phone-bar phone-bar-n">
						<a href="tel:0931034852">
							<span class="text-phone">093.1034.852 (a Phát)</span>
						</a>
					</div>
				</div>
			</div>


			<!-- end phone -->
		</div><!-- end v3 class gom-all-in-one -->


	</div>
	<!-- Facebook Messenger -->
	<!-- color phone -->
</div>
<!-- /SECTION -->
<!-- jQuery Plugins -->
<script src="~/js/jquery.min.js"></script>

<script src="~/js/slick.min.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>

<script>
	$(document).ready(function () {
		$('#submit-review').click(function () {
			var content = $('#review-content').val().trim(); // Sử dụng trim() để loại bỏ khoảng trắng không mong muốn
			var rating = $('input[name=rating]:checked').val();

			$.ajax({
				url: '/Tour/AddReview',
				type: 'POST',
				data: {
					id: @Model.Id, // Thay YourTourId bằng ID của tour
					content: content,
					rating: rating
				},
				success: function (response) {
					if (response.success) {
						var reviewItem = '<li>' +
							'<div class="review-heading">' +
							'<h5 class="name fw-bolder">' + response.author + '</h5>' +
						
							'<div class="review-rating">';

						for (var i = 0; i < 5; i++) {
							if (i < response.rating) {
								reviewItem += '<i class="fa fa-star"></i>';
							} else {
								reviewItem += '<i class="fa fa-star-o empty"></i>';
							}
						}

						reviewItem += '</div></div>' +
							'<div class="review-body">' +
							'<p>' + response.content + '</p>' +
							'</div></li>' +
								'<p class="date">' + response.createdAt + '</p>';
						$('#reviews').prepend(reviewItem);

						// Xóa nội dung và chọn lại rating sau khi thêm review
						$('#review-content').val('');
						$('input[name=rating]').prop('checked', false);

						// Kiểm tra và cập nhật thanh cuộn nếu cần thiết
						updateScrollbar();
					} else {
						alert('Thêm review không thành công.');
					}
				},
				error: function (xhr, status, error) {
					console.error(xhr.responseText);
					alert('Hãy đăng nhập dể tạo đánh giá ngay nhé !.');
				}
			});
		});

		// Hàm cập nhật thanh cuộn
		function updateScrollbar() {
			var containerHeight = $('#reviews-container').height();
			var reviewsHeight = $('#reviews').height();

			if (reviewsHeight > containerHeight) {
				$('#reviews-container').css('overflow-y', 'auto');
			} else {
				$('#reviews-container').css('overflow-y', 'hidden');
			}
		}
	});
</script>