
@model IEnumerable<TourNhanh.Models.TourDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var view = ViewBag.Tour;
}
<!-- BREADCRUMB -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            Thông tin tour
        </h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>     
            <li class="breadcrumb-item"><a href="~/Tour/Index/1">Tour trong nước</a></li>
            <li class="breadcrumb-item"><a href="~/Tour/Details/@view.Id">@view.Name</a></li>
            <li class="breadcrumb-item active text-white">Lịch trình</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- /BREADCRUMB -->
<section class="lichtrinh section">
    <div class="container">
               
        <div class="title">
            <h2>
                Tour @view.Name
            </h2>
        </div>
        <div class="content_lichtrinh">
            <div class="row">
                <div class="col-8 main-content">
                    <div class="image_tour row">
                        <div id="product-main-img">

                            @if (ViewBag.TourImage != null)
                            {
                                <div class="product-preview">
                                    <img src="@view.MainImageUrl" alt="anh tour">
                                </div>
                                foreach(var img in ViewBag.TourImage)
                                {
                                    <img class=" product-preview" src="@img" />
                                }
                            }
                        </div>
                        <div class="owl-carousel">
                            @foreach(var image in ViewBag.TourImage)
                            {
                                <img class=" product-preview" src="@image" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-4 sub-content">

                    <div class="tour_detail">
                        <div class="tour-info">
                            <p><i class="fas fa-check"></i> Bảo hiểm</p>
                            <p><i class="fas fa-check"></i> Bữa sáng</p>
                            <p><i class="fas fa-check"></i> Hướng dẫn viên</p>
                            <p><i class="fas fa-check"></i> Khách sạn 3 sao</p>
                            <p><i class="fas fa-check"></i> Vé tham quan</p>
                            <p><i class="fas fa-check"></i> Vé máy bay</p>
                            <p><i class="fas fa-check"></i> Xe đưa đón</p>
                        </<div>                
                    </div>
                 </div>
             </div> 
        </div>

        }
    </div>
</section>



@* <h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-tourId="@ViewBag.TourId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
                <th>
                   Hình ảnh tour
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                 <img src=" @Html.DisplayFor(modelItem => item.Tour.MainImageUrl)" width="100px" height="80px" />            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<!-- if gom all in one show -->
<div id="button-contact-vr" class="">
    <div id="gom-all-in-one">
        <!-- v3 -->
        <!-- contact -->
        <!-- end contact -->
        <!-- viber -->
        <!-- end viber -->
        <!-- zalo -->
        <div id="zalo-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a target="_blank" href="https://zalo.me/0931034852">
                        <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/zalo.png" />
                    </a>
                </div>
            </div>
        </div>
        <!-- end zalo -->
        <!-- Phone -->
        <div id="phone-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="tel:0931034852">
                        <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/phone.png" />
                    </a>
                </div>
                <div class="phone-bar phone-bar-n">
                    <a href="tel:0931034852">
                        <span class="text-phone">093.1034.852(a Phát)</span>
                    </a>
                </div>
            </div>
        </div>
       

        <!-- end phone -->
    </div><!-- end v3 class gom-all-in-one -->


</div>
<!-- Facebook Messenger -->
<!-- color phone -->
<style>
    .phone-bar a, #phone-vr .phone-vr-circle-fill, #phone-vr .phone-vr-img-circle, #phone-vr .phone-bar a {
        background-color: #dd3333;
    }

    #phone-vr .phone-vr-circle-fill {
        opacity: 0.7;
        box-shadow: 0 0 0 0 #dd3333;
    }

        #button-contact-vr {
            bottom: 50px !important;
        }
</style>
<!-- color contact -->
<!-- color all in one -->
<!-- size scale -->
<!-- location left right -->
</section>