
@model IEnumerable<TourNhanh.Models.TourDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var view = ViewBag.Tour;
}

<style>

    .section {
        padding: 50px 0 80px;
    }
    .tour-info i, .product-details i {
		color: #8dc63f;
	}

   /*  .product-details .product-rating > i.fa-star, .product-details .product-price 
    {
        -webkit-text-fill-color: #8dc63f;
        color: #8dc63f;
    } */

   /*  .tour-details .tour-info {
        width: 437px;
    }
 */
	.tour-info {
		display: grid;
        width:410px;
		margin-top: 20px;
        margin-left: 10px;
		color: #000;
        padding: 15px 20px;
		border-radius: 10px;
		box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
		grid-template-columns: repeat(2, 1fr);
		font-size: 15px;
	}

    .product-details {
        margin-left: 10px;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 0 0 32px rgba(0,0,0,.12) !important;
    }

    .product-details .product-links li, .product-details .product-options label , .product-details label{        
         font-weight: 600;
    }

        .product-details .product-options .input-select {         
            width: 150px;
        }

        .product-details .product-price {
            margin-bottom: 0;
        }

        .product-details .product-available {
            margin-left: 0;
        }

    .content_lichtrinh .product-main-img {
        object-fit: cover;
    }

    #detail_main_img img {
        height: 70vh;
        width: 100%;
        border-radius: 14px ;
        object-fit: cover;
        margin-bottom: 15px;
    }
    #detail_img img {
        height: 180px;
        width: 100%;
        border-radius: 10px; 
        margin-right: 10px;
        object-fit: cover;

    }
    .title-gradient {
        margin-bottom: 30px; 
        background-color: var(--bs-linear-color);
        background-image: var(--bs-linear-img);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600 ;
        text-align: center;
        font-size: 50px;
    }

    .slick-prev, .slick-next {
        top: 25%;
    }

    .slick-dots {
        bottom: 133px;
    }
    .main-content {
        position: relative;
        top: -100px;
    }

    .list_lichtrinh_title:after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #f79321;
        top: 7px;
        left: -29px;
    }
</style>


<!-- BREADCRUMB -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            Vi vu cùng Tour Nhanh
        </h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>     
            <li class="breadcrumb-item"><a href="~/Tour/Index/1">Tour trong nước</a></li>
            <li class="breadcrumb-item"><a href="~/Tour/Details/@view.Id">@view.Name</a></li>
            <li class="breadcrumb-item active text-white">Lịch trình</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- /BREADCRUMB -->
<section class="lichtrinh section">
    <div class="container">                 
        <h2 class="title-gradient">
            Lịch trình tour @view.Name
        </h2>

         <div class="content_lichtrinh">  
            <div class="row">
                <div class="col-8 content-left">
                    @*   Hinfh anh tour *@
                    <div class="image_tour row">
                        <div id="detail_main_img" class="col-12">

                            @if (ViewBag.TourImage != null)
                            {
                                <div class="product-preview">
                                    <img src="@view.MainImageUrl" alt="anh tour"/>
                                </div>
                                foreach(var img in ViewBag.TourImage)
                                {
                                    <img class=" product-preview" src="@img"  />
                                }
                            }
                        </div>
                        <div id="detail_img" class="col-12" >
                            @if (ViewBag.TourImage != null)
                            {
                                <div class="product-preview ">
                                    <img src="@view.MainImageUrl" alt="">
                                </div>
                                foreach (var image in ViewBag.TourImage)
                                {
                                    <img class="product-preview" src="@image" />
                                }
                            }
                        </div>
                     
                    </div>
                     @*   Hinfh anh tour *@
                    <!--    main content    -->
                    <div class="main-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#diemnhanhanhtrinh">Điểm nhấn hành trình</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#lichtrinh">Lịch trình</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#lichkhoihanh">Lịch khởi hành</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mota">Mô tả</a>
                            </li>
                        </ul>

                        <div class="diemnhan_tour">
                            <div>
                                <h3 id="diemnhanhanhtrinh" class="tab-title"><span>Điểm nhấn hành trình: <span></h3><p>Tour miền Bắc Hà Nội  – Hạ Long – Tràng An – Ninh Bình – Tam Chúc – Mai Châu &#8211; Mộc Châu &#8211; Sơn La sẽ đưa du khách khám phá những địa điểm du lịch nổi tiếng chắc chắn sẽ là một trải nghiệm hấp dẫn vô cùng thú vị.</p>
                                <p>Trong cuộc hành trình này khách hàng sẽ được khám phá những ngôi chùa nổi tiếng như chùa Trấn Quốc – Ngôi chùa Trấn Bắc cổ kính nhất Việt Nam, chùa Một Cột, Bảo tàng Hồ Chí Minh, Quảng trường Ba Đình…Khám phát nét thơ mộng, cổ xưa của Hà Nội, xen lẫn hiện đại, tất cả tạo nên nét đặc trưng không nơi nào có được</p>
                                <p>Khám phá Quần thể Danh thắng Tràng An – Di sản được UNESCO công nhận là di sản văn hóa và thiên nhiên Thế Giới với dòng Sào khê uốn lượn giữa cánh đồng lúa, nơi những dải đá vôi, thung lũng và những sông ngòi đan xen tạo nên một không gian huyền ảo, kỳ bí</p>
                                <p>Tham quan Vịnh Hạ Long<strong>,</strong> chiêm ngưỡng vẻ đẹp huyền bí của hàng ngàn đảo đá và các hang động kì thú: Động Thiên Cung, hang Đầu Gỗ…ngắm cảnh Làng Chài, hòn Ấm, hòn Rùa, hòn Đỉnh Hương, hòn Chó Đá, hòn Gà Chọi…</p>
                                <p>Ngắm nhìn vẻ đẹp mộc mạc, đơn sơ nhưng không kém phần thơ mộng cùng với nét văn hóa độc đáo tại Mai Châu, Mộc Châu</p>
                                <p>Khách sạn 3 sao với tiêu chuẩn 2/3 khách/ phòng chắc chắn sẽ giúp bạn có những phút giây thư giãn tuyệt vời nhất.</p>
                            </div>                                           
                        </div>
                        <!-- Lich trinh-->
                        <div class="chitiet_lichtrinh">                     
                            <div id="lichtrinh" class="tab_title">
                                <span>Lịch trình</span>
                            </div>
                            <div class="list_order">
                                <div class="list_lichtrinh_box">
                                    <div class="list_lichtrinh_title">
                                        <span class="feature">Ngày <br>2</span>
                                        <span>Ngày 2: HẠ LONG - NINH BÌNH - TRÀNG AN - HANG MÚA</span>
                                    </div>
                                    <div class="list_lichtrinh_content tinymce">
                                        <p><strong>Sáng:</strong>&nbsp;Quý khách dùng điểm tâm tại nhà hàng. Tự do khá phá Thành phố biển&nbsp;<strong>Hạ Long</strong>&nbsp;hoặc tắm&nbsp;<strong>biển Bãi Cháy</strong>.</p>
                                        <p><strong>09h00:</strong>&nbsp;Quý khách trả phòng khách sạn. Xe đưa quý khách di chuyển về Ninh Bình theo Quốc Lộ 10. Trên đường đi Quý khách sẽ được cảm nhận, khám phá cuộc sống, phong cảnh đặc trưng của Đồng bằng Bắc Bộ với cảnh làng quê thanh bình qua các tỉnh Hải Phòng, Thái Bình, Nam Định.</p>
                                        <p><strong>Trưa:&nbsp;</strong>&nbsp;Đến&nbsp;<strong>Ninh Bình</strong>, Quý khách tới nhà hàng dùng cơm trưa. Về khách sạn làm thụ tục nhận phòng và nghỉ ngơi.</p>
                                        <p><strong>Chiều:</strong>&nbsp;Xe và Hướng dẫn viên đưa đi tham quan:</p>
                                        <ul>
                                            <li><strong>Quần thể danh thắng Tràng An</strong>&nbsp;– Di sản được UNESCO công nhận là di sản văn hóa và thiên nhiên Thế giới, giúp cho Việt Nam lần dầu lọt vào danh sách 30 di sản hỗn hợp Thế Giới. Lên thuyền xuôi dòng Sào khê uốn lượn giữa cánh đồng lúa , nơi những dải đá vôi, thung lũng và những sông ngòi đan xen tạo nên một không gian huyền ảo, kỳ bí , quý khách đi đò tham Hang sáng , Hang tối , Hang nấu rượu…</li>
                                        </ul>
                                        <figure id="attachment_3931" aria-describedby="caption-attachment-3931" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-3931" src="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-3931" class="wp-caption-text">Quần thể danh thắng Tràng An</figcaption></figure>
                                        <p>Nếu đoàn còn thời gian, Quý khách tham quan, khám phá:</p>
                                        <ul>
                                            <li><strong>Hang Múa&nbsp;(Option – Tự túc vé tham quan)</strong>, Quý khách bách bộ qua những lối đi vòng vèo được bao phủ bởi cây xanh và các kiến trúc non bộ đẹp mắt và sau đó là hành trình chinh phục đỉnh núi Hang Múa với 500 bậc đá. Tới đỉnh núi Múa, thu vào trong tầm mắt của Quý khách là tất cả đất trời của mảnh đất Hoa Lư rộng lớn với vẻ yên bình nhưng lộng lẫy như một bức tranh thủy mặc khiến không ít người chẳng thể kìm lòng mà vỡ òa cảm xúc. Trên hành trình trở lại, Quý khách sẽ ngang qua khu vực Đầm sen nằm giữa những rặng núi đá vôi tạo nên một khung cảnh cực kỳ thơ mộng và cổ trang. Quý khách có thể thuê những bộ đồ cổ trang để chụp hình tại đây.</li>
                                        </ul>
                                        <figure id="attachment_6536" aria-describedby="caption-attachment-6536" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-6536" src="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-6536" class="wp-caption-text">Hang Múa Ninh Bình</figcaption></figure>
                                        <p><strong>Tối:&nbsp;</strong>Quý khách dùng bữa tại nhà hàng với&nbsp;<strong>đặc sản dê núi Ninh Bình</strong>, sau đó là chương trình tự do của quý khách với phố đêm Ninh bình.</p>
                                    </div>
                                </div>
                                <div class="list_lichtrinh_box">
                                    <div class="list_lichtrinh_title">
                                        <span class="feature">Ngày <br>2</span>
                                        <span>Ngày 2: HẠ LONG - NINH BÌNH - TRÀNG AN - HANG MÚA</span>
                                    </div>
                                    <div class="list_lichtrinh_content tinymce">
                                        <p><strong>Sáng:</strong>&nbsp;Quý khách dùng điểm tâm tại nhà hàng. Tự do khá phá Thành phố biển&nbsp;<strong>Hạ Long</strong>&nbsp;hoặc tắm&nbsp;<strong>biển Bãi Cháy</strong>.</p>
                                        <p><strong>09h00:</strong>&nbsp;Quý khách trả phòng khách sạn. Xe đưa quý khách di chuyển về Ninh Bình theo Quốc Lộ 10. Trên đường đi Quý khách sẽ được cảm nhận, khám phá cuộc sống, phong cảnh đặc trưng của Đồng bằng Bắc Bộ với cảnh làng quê thanh bình qua các tỉnh Hải Phòng, Thái Bình, Nam Định.</p>
                                        <p><strong>Trưa:&nbsp;</strong>&nbsp;Đến&nbsp;<strong>Ninh Bình</strong>, Quý khách tới nhà hàng dùng cơm trưa. Về khách sạn làm thụ tục nhận phòng và nghỉ ngơi.</p>
                                        <p><strong>Chiều:</strong>&nbsp;Xe và Hướng dẫn viên đưa đi tham quan:</p>
                                        <ul>
                                            <li><strong>Quần thể danh thắng Tràng An</strong>&nbsp;– Di sản được UNESCO công nhận là di sản văn hóa và thiên nhiên Thế giới, giúp cho Việt Nam lần dầu lọt vào danh sách 30 di sản hỗn hợp Thế Giới. Lên thuyền xuôi dòng Sào khê uốn lượn giữa cánh đồng lúa , nơi những dải đá vôi, thung lũng và những sông ngòi đan xen tạo nên một không gian huyền ảo, kỳ bí , quý khách đi đò tham Hang sáng , Hang tối , Hang nấu rượu…</li>
                                        </ul>
                                        <figure id="attachment_3931" aria-describedby="caption-attachment-3931" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-3931" src="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-3931" class="wp-caption-text">Quần thể danh thắng Tràng An</figcaption></figure>
                                        <p>Nếu đoàn còn thời gian, Quý khách tham quan, khám phá:</p>
                                        <ul>
                                            <li><strong>Hang Múa&nbsp;(Option – Tự túc vé tham quan)</strong>, Quý khách bách bộ qua những lối đi vòng vèo được bao phủ bởi cây xanh và các kiến trúc non bộ đẹp mắt và sau đó là hành trình chinh phục đỉnh núi Hang Múa với 500 bậc đá. Tới đỉnh núi Múa, thu vào trong tầm mắt của Quý khách là tất cả đất trời của mảnh đất Hoa Lư rộng lớn với vẻ yên bình nhưng lộng lẫy như một bức tranh thủy mặc khiến không ít người chẳng thể kìm lòng mà vỡ òa cảm xúc. Trên hành trình trở lại, Quý khách sẽ ngang qua khu vực Đầm sen nằm giữa những rặng núi đá vôi tạo nên một khung cảnh cực kỳ thơ mộng và cổ trang. Quý khách có thể thuê những bộ đồ cổ trang để chụp hình tại đây.</li>
                                        </ul>
                                        <figure id="attachment_6536" aria-describedby="caption-attachment-6536" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-6536" src="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-6536" class="wp-caption-text">Hang Múa Ninh Bình</figcaption></figure>
                                        <p><strong>Tối:&nbsp;</strong>Quý khách dùng bữa tại nhà hàng với&nbsp;<strong>đặc sản dê núi Ninh Bình</strong>, sau đó là chương trình tự do của quý khách với phố đêm Ninh bình.</p>
                                    </div>
                                </div>
                                <div class="list_lichtrinh_box">
                                    <div class="list_lichtrinh_title">
                                        <span class="feature">Ngày <br>2</span>
                                        <span>Ngày 2: HẠ LONG - NINH BÌNH - TRÀNG AN - HANG MÚA</span>
                                    </div>
                                    <div class="list_lichtrinh_content tinymce">
                                        <p><strong>Sáng:</strong>&nbsp;Quý khách dùng điểm tâm tại nhà hàng. Tự do khá phá Thành phố biển&nbsp;<strong>Hạ Long</strong>&nbsp;hoặc tắm&nbsp;<strong>biển Bãi Cháy</strong>.</p>
                                        <p><strong>09h00:</strong>&nbsp;Quý khách trả phòng khách sạn. Xe đưa quý khách di chuyển về Ninh Bình theo Quốc Lộ 10. Trên đường đi Quý khách sẽ được cảm nhận, khám phá cuộc sống, phong cảnh đặc trưng của Đồng bằng Bắc Bộ với cảnh làng quê thanh bình qua các tỉnh Hải Phòng, Thái Bình, Nam Định.</p>
                                        <p><strong>Trưa:&nbsp;</strong>&nbsp;Đến&nbsp;<strong>Ninh Bình</strong>, Quý khách tới nhà hàng dùng cơm trưa. Về khách sạn làm thụ tục nhận phòng và nghỉ ngơi.</p>
                                        <p><strong>Chiều:</strong>&nbsp;Xe và Hướng dẫn viên đưa đi tham quan:</p>
                                        <ul>
                                            <li><strong>Quần thể danh thắng Tràng An</strong>&nbsp;– Di sản được UNESCO công nhận là di sản văn hóa và thiên nhiên Thế giới, giúp cho Việt Nam lần dầu lọt vào danh sách 30 di sản hỗn hợp Thế Giới. Lên thuyền xuôi dòng Sào khê uốn lượn giữa cánh đồng lúa , nơi những dải đá vôi, thung lũng và những sông ngòi đan xen tạo nên một không gian huyền ảo, kỳ bí , quý khách đi đò tham Hang sáng , Hang tối , Hang nấu rượu…</li>
                                        </ul>
                                        <figure id="attachment_3931" aria-describedby="caption-attachment-3931" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-3931" src="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2023/11/Quan-the-danh-thang-Trang-An-1.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-3931" class="wp-caption-text">Quần thể danh thắng Tràng An</figcaption></figure>
                                        <p>Nếu đoàn còn thời gian, Quý khách tham quan, khám phá:</p>
                                        <ul>
                                            <li><strong>Hang Múa&nbsp;(Option – Tự túc vé tham quan)</strong>, Quý khách bách bộ qua những lối đi vòng vèo được bao phủ bởi cây xanh và các kiến trúc non bộ đẹp mắt và sau đó là hành trình chinh phục đỉnh núi Hang Múa với 500 bậc đá. Tới đỉnh núi Múa, thu vào trong tầm mắt của Quý khách là tất cả đất trời của mảnh đất Hoa Lư rộng lớn với vẻ yên bình nhưng lộng lẫy như một bức tranh thủy mặc khiến không ít người chẳng thể kìm lòng mà vỡ òa cảm xúc. Trên hành trình trở lại, Quý khách sẽ ngang qua khu vực Đầm sen nằm giữa những rặng núi đá vôi tạo nên một khung cảnh cực kỳ thơ mộng và cổ trang. Quý khách có thể thuê những bộ đồ cổ trang để chụp hình tại đây.</li>
                                        </ul>
                                        <figure id="attachment_6536" aria-describedby="caption-attachment-6536" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" decoding="async" class="wp-image-6536" src="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg" alt="" width="600" height="360" srcset="https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-300x180.jpg 300w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-150x90.jpg 150w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-768x461.jpg 768w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-800x480.jpg 800w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh-700x420.jpg 700w, https://tourngay.vn/wp-content/uploads/2024/02/Hang-Mua-Ninh-Binh.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px"><figcaption id="caption-attachment-6536" class="wp-caption-text">Hang Múa Ninh Bình</figcaption></figure>
                                        <p><strong>Tối:&nbsp;</strong>Quý khách dùng bữa tại nhà hàng với&nbsp;<strong>đặc sản dê núi Ninh Bình</strong>, sau đó là chương trình tự do của quý khách với phố đêm Ninh bình.</p>
                                    </div>
                                </div>
                                <div id="mota">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.420763561081!2d106.7803462!3d10.8555672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKFRodSBEdWMgQ2FtcHVzKQ!5e0!3m2!1svi!2s!4v1716467335167!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- Lich trinh-->
                    </div>
                   <!-- main-content -->
                </div>
                <!--Content_left-->
                <!--Content right-->
                <div class="col-4 right-content">
                   
                        <div class="product-details">
                                <h3>Khởi hành và giá cả</h3>
                                            
                                <div>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa-regular fa-star text-primary"></i>
                                    </div>
                                    <a class="review-link" href="#">10 Review(s) | Add your review</a>
                                </div>
                                <div>
                                    <h3 class="product-price">@view.Price VNĐ <del class="product-old-price">999999VNĐ</del></h3>
                                
                                </div>
                                <h3><span class="product-available"><i class="fa-solid fa-hand-point-right fa-beat"></i>"Thích vi vu thì nhích thôi" <i class="fa-solid fa-hand-point-left fa-beat"></i></span></h3>
                                <label>Phương tiện di chuyển: @view.Transport.Name </label>
                                <div class="product-options d-flex justify-content-flex-start align-items-center">
                                    <label>
                                        Chọn ngày khởi hành:
                                        <select class="input-select">
                                            <option value="0">16/6 </option>
                                            <option value="1">18/6 </option>
                                            <option value="2">23/6 </option>
                                            <option value="3">25/6 </option>
                                            <option value="4">27/6 </option>
                                        </select>

                                    </label>

                                    <label>
                                        Thú cưng:
                                        <select class="input-select">
                                            <option value="0">Có </option>
                                            <option value="1">Không </option>

                                        </select>

                                    </label>

                                </div>
                          

                                <div class="add-to-cart">
                                    @* <div class="qty-label" >
                                    Qty
                                    <div class="input-number">
                                    <input type="number" value="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                    </div>
                                    </div> *@
                                    @* <button class="add-to-cart-btn"><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id>" asp-route-quantity="@numOfQuanity"><i class="fa fa-shopping-cart"></i> add to cart</a></button> *@
                                    <div class="add-to-cart">
                                        @* <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="@numOfQuanity">
                                        <button class="add-to-cart-btn">
                                        <i class="fa fa-shopping-cart"></i> add to cart
                                        </button>
                                        </a> *@
                                        <button onclick="showSuccessToast();" class="add-to-cart-btn addToCartBtn btn--success" data-productId="@view.Id"><i class="fa fa-shopping-cart"></i> đặt tour</button>
                                        @* <a asp-action="Update" asp-route-id="@Model.Id" class="btn-action">Edit</a> | *@
                                        <a class="add-to-cart-btn new" asp-controller="TourDetail" asp-action="Index" asp-route-tourId="@view.Id"><i class="fa fa-eye"></i>Xem lịch trình</a>
                                        <br />
                                        @* <a asp-action="Index" class="btn-action"><i class="fa-solid fa-arrow-left"></i>Trở về</a> *@
                                    </div>


                                </div>

                                <ul class="product-btns">
                                    <li><a href="#"><i class="fa-regular fa-heart"></i> add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                                </ul>

                                <ul class="product-links">
                                    <li>Lịch trình:</li>
                                    <li><a href="#">@view.Category.Name</a></li> |
                                    @* <li><a href="#">Accessories</a></li> *@
                                    <li>Điểm khởi hành:</li>
                                    <li><a href="#"> tại TPHCM</a></li>

                                </ul>

                                @* <ul class="product-links">
                                <li>Điểm đến: @view.Location.Name </li>
                                </ul> *@

                                <ul class="product-links">
                                    <li>Chia sẻ:</li>
                                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                </ul>                         
                            </div>
                            <div class="tour_detail col-12 ">
                                <div class="tour-info">
                                    <p><i class="fas fa-check"></i> Bảo hiểm</p>
                                    <p><i class="fas fa-check"></i> Bữa sáng</p>
                                    <p><i class="fas fa-check"></i> Hướng dẫn viên</p>
                                    <p><i class="fas fa-check"></i> Khách sạn 3 sao</p>
                                    <p><i class="fas fa-check"></i> Vé tham quan</p>
                                    <p><i class="fas fa-check"></i> Vé máy bay</p>
                                    <p><i class="fas fa-check"></i> Xe đưa đón</p>
                                </div>
                             </div>
                        </div>                  
                    </div>
                    <!--Content right-->
               </div>
               <!-- row -->
        </div>
        <!--content-->
    </div>
    <!--Contaiiner-->
</section>



@* <h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-tourId="@ViewBag.TourId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
                <th>
                   Hình ảnh tour
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                 <img src=" @Html.DisplayFor(modelItem => item.Tour.MainImageUrl)" width="100px" height="80px" />            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<!-- if gom all in one show -->
<div id="button-contact-vr" class="">
    <div id="gom-all-in-one">
        <!-- v3 -->
        <!-- contact -->
        <!-- end contact -->
        <!-- viber -->
        <!-- end viber -->
        <!-- zalo -->
        <div id="zalo-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a target="_blank" href="https://zalo.me/0931034852">
                        <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/zalo.png" />
                    </a>
                </div>
            </div>
        </div>
        <!-- end zalo -->
        <!-- Phone -->
        <div id="phone-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="tel:0931034852">
                        <img src="https://tourngay.vn/wp-content/plugins/button-contact-vr-master/img/phone.png" />
                    </a>
                </div>
                <div class="phone-bar phone-bar-n">
                    <a href="tel:0931034852">
                        <span class="text-phone">093.1034.852(a Phát)</span>
                    </a>
                </div>
            </div>
        </div>
       

        <!-- end phone -->
    </div><!-- end v3 class gom-all-in-one -->


</div>
<!-- Facebook Messenger -->
<!-- color phone -->
<style>
    .phone-bar a, #phone-vr .phone-vr-circle-fill, #phone-vr .phone-vr-img-circle, #phone-vr .phone-bar a {
        background-color: #dd3333;
    }

    #phone-vr .phone-vr-circle-fill {
        opacity: 0.7;
        box-shadow: 0 0 0 0 #dd3333;
    }

        #button-contact-vr {
            bottom: 50px !important;
        }
</style>
<!-- color contact -->
<!-- color all in one -->
<!-- size scale -->
<!-- location left right -->
</section>