@model IEnumerable<TourNhanh.Models.Tour>

<div class="packages-carousel owl-carousel">
    @foreach (var item in Model)
    {
        <div class="packages-item">
            <div class="packages-img">
                <img src="@item.MainImageUrl" class="img-fluid w-100 rounded-top" alt="Image" style="height:257px;object-fit:cover" onerror="this.src='/img/carousel-1.jpg'; this.onerror=null;">
                <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>@item.Name</small>
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>@item.Category.Name</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>1 Người</small>
                </div>
                <div class="packages-price py-2 px-4">@item.Price VNĐ</div>
            </div>
            <div class="packages-content bg-light">
                <div class="p-4 pb-0">
                    <h5 class="mb-0">@item.Name</h5>
                    <small class="text-uppercase">Hot Deals</small>
                    <div class="mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                    <p class="mb-4 description-tour">@item.Description</p>
                </div>
                <div class="row bg-primary rounded-bottom mx-0">
                    <div class="col-6 text-start px-0">
                        <a asp-controller="Tour" asp-action="Details" asp-route-id="@item.Id" class="btn-hover btn text-white py-2 px-4">Chi tiết</a>
                    </div>
                    <div class="col-6 text-end px-0">
                        <a asp-controller="Booking" asp-action="Create" asp-route-id="@item.Id" class="btn-hover btn text-white py-2 px-4">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
